body {
    font-family: Arial, sans-serif;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#game-board {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    perspective: 500px;
}

.tile {
    width: calc(100% / 10);
    height: calc(100% / 10);
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
    display: inline-block;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.tile.flipped {
    transform: rotateY(180deg);
}

.tile .front, .tile .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.tile .back {
    transform: rotateY(180deg);
}

.tile .back .distance {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 20px;
}

.tile.winning .back {
    background-image: url("fireworks.gif");
    background-size: cover;
}

.play-again-button {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: lightgreen;
    border: none;
    cursor: pointer;
}

.animated {
    transition: transform 0.5s;
}

.flipping {
    transform: rotateY(90deg);
}